config.sh
polling
judge
/run
sim/add_run.o
sim/any_int.o
sim/compare.o
sim/debug.o
sim/fname.o
sim/ForEachFile.o
sim/hash.o
sim/idf.o
sim/lex.o
sim/Malloc.o
sim/newargs.o
sim/options.o
sim/pass1.o
sim/pass2.o
sim/pass3.o
sim/percentages.o
sim/properties.o
sim/runs.o
sim/sim_8086
sim/sim_c
sim/sim_c++
sim/sim_java
sim/sim_lisp
sim/sim_m2
sim/sim_mira
sim/sim_pasc
sim/sim_text
sim/sim.o
sim/stream.o
sim/text.o
sim/token.o
sim/tokenarray.o
sim/utf8.o
