**/.DS_Store
.idea
.vscode
.git
node_modules
vendor
storage/app
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
.env
