APP_NAME=OnlineJudge
APP_ENV=production
APP_KEY=
APP_URL=
APP_DEBUG=false
HREF_FORCE_HTTPS=false

JUDGE_SERVER=
JUDGE_DATA_DIR=storage/app/data

MAIL_MAILER=smtp
MAIL_HOST=smtp.qq.com
MAIL_PORT=465
MAIL_ENCRYPTION=ssl
MAIL_USERNAME=hello@qq.com
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=hello@qq.com
MAIL_FROM_NAME="LDU Online Judge"

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

LOG_CHANNEL=stack
QUEUE_CONNECTION=redis
BROADCAST_DRIVER=log
CACHE_DRIVER=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1
