/* ======================================== 美化滚动条 ================================ */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    width: 6px;
    background: rgba(#101F1C, 0.1);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(144, 147, 153, .5);
    background-clip: padding-box;
    min-height: 28px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: background-color .3s;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(144, 147, 153, .3);
}

/* ========================= 自定义容器 ============================== */
/*html*/
html,
body {
    width: 100%;
    margin: 0;
    background-color: #fafafa;
}

.my-container {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 10px;
    border-radius: 4px;
    transition: .2s ease-out .0s;
    /*background: #fff;*/
    width: 100%;
    padding: 1.25rem;
    position: relative;
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/
    margin-bottom: 1.2rem;
}

/* =========================== 导航栏以及按钮的全局样式 =============================== */
.nav-link,
.btn {
    text-transform: none;
    /* 不要自动大写 */
}

/*导航栏菜单项的最小宽度*/
.nav-tabs .nav-link {
    min-width: 90px !important;
    text-align: center;
}

/* 导航栏菜单项选中时的底部样式 */
.nav-tabs .active {
    /*border-color: #6599ff !important;*/
    border-bottom: .214rem solid #6599ff !important;
}

/* ============================== table的全局设置 =========================== */
.table-responsive {
    overflow-y: hidden;
}

/* .table th, .table td{
    text-align: center;
} */
.table td {
    font-size: 0.85rem;
}

th {
    /*所有table的表头不换行*/
    white-space: nowrap
}


/* ============================= 字体颜色 ================================ */
.text-black {
    color: black;
}

.text-gray {
    color: gray;
}

.text-yellow {
    color: #faf800;
}

.text-orange {
    color: orange;
}

.text-green {
    /*color: green;*/
    color: #05d400;
}

.text-blue {
    color: blue;
}

.text-red {
    color: red;
}

.text-sky {
    color: #03a9f4;
}

.text-purple {
    color: purple;
}

/* ======================================== 判题结果字体颜色 ==================================== */
.judge-result-0 {
    /* Waiting */
    color: black
}

.judge-result-1 {
    /* Queueing */
    color: #ffdd00;
}

.judge-result-2 {
    /* Compiling */
    color: rgb(242, 160, 7)
}

.judge-result-3 {
    /* Running */
    color: orange
}

.judge-result-4 {
    /* Accepted */
    color: green
}

.judge-result-5 {
    /* Presentation Error */
    color: blue
}

.judge-result-6 {
    /* Wrong Answer */
    color: red
}

.judge-result-7 {
    /* Time Limit Exceeded */
    color: blue
}

.judge-result-8 {
    /* Memory Limit Exceeded */
    color: blue
}

.judge-result-9 {
    /* Output Limit Exceeded */
    color: blue
}

.judge-result-10 {
    /* Runtime Error */
    color: blue
}

.judge-result-11 {
    /* Compile Error */
    color: red
}

.judge-result-12 {
    /* Test Completed */
    color: black
}

.judge-result-13 {
    /* Skipped */
    color: gray
}

.judge-result-14 {
    /* System Error */
    color: purple
}

.judge-result-15 {
    /* Submitted */
    color: black
}

/* ======================================== 判题结果测试点方块样式 ==================================== */
.judge-detail-0 {
    /* Waiting */
    color: white;
    background-color: black
}

.judge-detail-1 {
    /* Queueing */
    color: black;
    background-color: #ffdd00;
}

.judge-detail-2 {
    /* Compiling */
    color: black;
    background-color: rgb(242, 160, 7)
}

.judge-detail-3 {
    /* Running */
    color: black;
    background-color: orange
}

.judge-detail-4 {
    /* Accepted */
    color: white;
    background-color: rgb(0, 187, 0)
}

.judge-detail-5 {
    /* Presentation Error */
    color: white;
    background-color: blue
}

.judge-detail-6 {
    /* Wrong Answer */
    color: white;
    background-color: red
}

.judge-detail-7 {
    /* Time Limit Exceeded */
    color: white;
    background-color: blue
}

.judge-detail-8 {
    /* Memory Limit Exceeded */
    color: white;
    background-color: blue
}

.judge-detail-9 {
    /* Output Limit Exceeded */
    color: white;
    background-color: blue
}

.judge-detail-10 {
    /* Runtime Error */
    color: white;
    background-color: blue
}

.judge-detail-11 {
    /* Compile Error */
    color: white;
    background-color: red
}

.judge-detail-12 {
    /* Test Completed。2.0已改为重判中 */
    color: white;
    background-color: black
}

.judge-detail-13 {
    /* Skipped */
    color: white;
    background-color: gray
}

.judge-detail-14 {
    /* System Error */
    color: white;
    background-color: purple
}

.judge-detail-15 {
    /* Submitted */
    color: white;
    background-color: black
}

/* ========================================= 背景颜色 ========================================= */
.bg-sky {
    background-color: #64ccff;
}

.bg-gray {
    background-color: #dbdbdb;
}

/* ================================== Mathjax样式调整 =========================== */
/*去掉mathjax的边框*/
.MathJax {
    outline: 0 !important;
}

.MathJax_Display {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

/* ================================ 代码高亮样式 ========================== */
/* 代码高亮：行号样式调整 */
.hljs ol li {
    /*list-style: decimal-leading-zero;*/
    border-left: 1px solid #ddd !important;
    padding-left: 5px !important;
}

pre {
    tab-size: 4;
    /* 制表符宽度 */
}