
html, body {
    width:100%;
    height:100%;
    background-color: #fafafa;
}

.my-container {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 30px;
    border-radius: 4px;
    transition: .2s ease-out .0s;
    /*background: #fff;*/
    width: 100%;
    padding: 1.25rem;
    position: relative;
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/
    margin-bottom: 1.5rem;
}


.table th, .table td{
    text-align: center;
}
.table td{
    font-size: 0.85rem;
}



.text-black{
    color: black;
}
.text-gray{
    color: gray;
}
.text-yellow{
    color: #faf800;
}
.text-orange{
    color: orange;
}
.text-green{
    /*color: green;*/
    color: #05d400;
}
.text-blue{
    color: blue;
}
.text-red{
    color: red;
}
.text-sky{
    color: #36cdce;
}
.text-purple{
    color: purple;
}
