.tx-editor-wrapper {
  position: relative;
  /*width: 464px;*/
  /*height: 100px;*/
}
.tx-editor-wrapper .tx-editor.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  z-index: 500;
}
.tx-editor.expanded{
    background: ghostwhite;
}

.tx-editor-wrapper .tx-editor {
    /*height: 70px;*/
}
.tx-editor-wrapper .tx-editor .tx-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 18px;
  height: 16px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAYAAAAbBi9cAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABV0RVh0Q3JlYXRpb24gVGltZQA4LzE2LzEzspl6ugAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAB7SURBVDiN7ZOxCsAgDESvxXyhi5P/Fif/0i6NGJH2KIUufVOUJB45s6lqw0DOGQylFHfeqSqCYEGMESJCF6aUAAC1Vt9IRPolixtDG1DVxjLnhtVL8yAvlZy8Nuy/0T1L19g1cY3Mavupd9bPWL5T9ERJV2SBrcfn238A3whjoYEPESwAAAAASUVORK5CYII=');
  cursor: pointer;
  z-index: 3;
}
.tx-editor-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 2;
  opacity: 0;
}
