version: '3'

x-logging: &default-logging
  driver: json-file
  options:
    max-size: "10m"
    max-file: "5"

services:
  web:
    image: winterant/lduoj:2.2.7
    container_name: lduoj-web
    restart: always
    ports:
      - 8080:80
    env_file: lduoj.conf
    logging: *default-logging
    volumes:
      - ./data/web/storage:/app/storage

  go-judge:
    image: winterant/go-judge:1.1
    container_name: lduoj-go-judge
    restart: always
    shm_size: 512m
    environment:
      - ES_FILE_TIMEOUT=10m
    privileged: true
    logging: *default-logging
    volumes:
      - ./data/web/storage/app/data:/testdata:ro

  mysql:
    image: docker.io/mysql:8.0.36
    container_name: lduoj-mysql
    restart: always
    security_opt:
      - seccomp:unconfined # docker取消安全验证
    command:
      --max_connections=1024
      --thread_cache_size=256
      --authentication_policy=mysql_native_password
      --lower_case_table_names=1
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_general_ci
      --explicit_defaults_for_timestamp=true
      --log_bin_trust_function_creators=1
    env_file: lduoj.conf
    logging: *default-logging
    volumes:
      - ./data/mysql:/var/lib/mysql

  redis:
    image: docker.io/redis:7.0.15
    container_name: lduoj-redis
    restart: always
    env_file: lduoj.conf
    logging: *default-logging
    command: [
      "bash", "-c",
      'docker-entrypoint.sh --appendonly yes --requirepass "$$REDIS_PASSWORD"'
    ]
    volumes:
      - ./data/redis:/data
